/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }





}

@media (min-width: 992px) and (max-width: 1199px) {
    
.user_icon {
    width: 40px;
}

.my-lg-0 {
    margin-right: 0;
}

.call_btn {
    width: auto;
    flex: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 6px;
    padding-left: 6px;
}

.banner_taital {
    font-size: 110px;
    padding-top: 10px;
}

.image_box {
    padding: 24% 90px;
}

button.owl-prev {
    left: 0px;
    position: absolute;
}

button.owl-next {
    right: 0px;
    position: absolute;
}

.taital_main {
    width: 80%;
}

.dummy_text {
    width: 50%;
}
.contact_main {
    padding-top: 40px;
}



}

@media (min-width: 768px) and (max-width: 991px) {

.banner_taital {
    font-size: 90px;
}
.banner_img {
    width: 65%;
}
.image_box {
    padding: 22% 62px;
}

button.owl-prev {
    left: 0px;
    position: absolute;
}

button.owl-next {
    right: 0px;
    position: absolute;
}

.price_section_2 {
    width: 100%;
}

.taital_main {
    width: 80%;
}

.client_right {
    padding-top: 10px;
}
.client_img {
    padding-top: 15px;
}

.client_right_2 {
    padding-top: 10px;
}

.contact_main {
    width: 70%;
    padding-top: 40px;
}

.location_main li {
    padding: 30px 35px 30px 35px;
}

}

@media (min-width: 576px) and (max-width: 767px) {


.navbar-brand {
    width: 40%;
}

.navbar-expand-lg .navbar-nav .nav-link{
    text-align: center;
}

.user_icon{
    display: none;
}

.banner_section {
    padding-top: 60px;
}

.banner_taital {
    font-size: 76px;
    padding-top: 40px;
}

.banner_img {
    width: 70%;
}

.contact_bt {
    padding: 190px 0px 0px 0px;
}

.service_taital {
    font-size: 38px;
}

.service_section_2 {
    padding-top: 50px;
}

.image_box {
    padding: 30% 140px;
}

.service_section .owl-item.active.center .image_box {
    margin-bottom: 30px;
}

.about_taital {
    font-size: 38px;
}

.price_section_2 {
    width: 100%;

}

.taital_main {
    width: 85%;
}
.dummy_text {
    width: 50%;
}
.client_section_2 {
    width: 100%;
}

.client_main {
    border-radius: 10px;
}

.client_right {
    padding-top: 15px;
}
.client_main_2 {
    border-radius: 10px;
}
.client_right_2 {
    padding-top: 15px;
}

.contact_main {
    width: 100%;
    padding-top: 40px;
}
.location_main li {
    padding: 10px 6px;
}
.location_main {
    padding: 20px 0px;
}

button.owl-prev {
    left: 0px;
    position: absolute;
}

button.owl-next {
    right: 0px;
    position: absolute;
}


} 


@media (max-width: 575px) {


.navbar-brand {
    width: 40%;
}

.navbar-expand-lg .navbar-nav .nav-link{
    text-align: center;
}

.user_icon{
    display: none;
}

.banner_section {
    padding-top: 60px;
}

.banner_taital {
    font-size: 40px;
    padding-top: 0;
}

.banner_img {
    width: 40%;
}

.contact_bt {
    padding: 130px 0px 0px 0px;
}

.service_taital {
    font-size: 30px;
}

.service_section_2 {
    padding-top: 50px;
}

.image_box {
    padding: 30% 88px;
}

.service_section .owl-item.active.center .image_box {
    margin-bottom: 30px;
}

.about_taital {
    font-size: 30px;
}

.price_section_2 {
    width: 100%;
}

.taital_main {
    width: 85%;
}
.dummy_text {
    width: 50%;
}
.client_section_2 {
    width: 100%;
}

.client_main {
    border-radius: 10px;
}

.client_right {
    padding-top: 15px;
}
.client_main_2 {
    border-radius: 10px;
}
.client_right_2 {
    padding-top: 15px;
}

.contact_main {
    width: 100%;
    padding-top: 40px;
}
.location_main li {
    padding: 10px 6px;
}
.location_main {
    padding: 20px 0px;
}

button.owl-prev {
    left: 0px;
    position: absolute;
}

button.owl-next {
    right: 0px;
    position: absolute;
}


}
